@use "variables";
@use "fonts";

body {
  background-image: linear-gradient(to bottom right, variables.$deepBlue, variables.$lightBlue);
  display: flex;
  flex-direction: column;
  min-height: variables.$bodyHeight;
  background-attachment: fixed;
  font-family: variables.$fontFamily;
  text-shadow: 0.5px 0.5px 1.5px black;
  margin: 0;

  div#siteWrapper {
    min-height: calc(100dvh - 46px);
    overflow-x: hidden;
  }

  &.admin-bar div#siteWrapper {
    min-height: 100dvh;
  }
}

p {
  font-size: 1.25rem;
}

nav,
main {
  position: relative;
  z-index: 3;
  margin: 0 8px;
}

div#postContent {
  max-width: 60rem;
  margin: auto;

  p:first-of-type {
    margin-top: 0;
  }
}

h1 {
  font: {
    family: "Wonderia";
    size: 3rem;
  }

  text-align: center;
  margin: 0.5rem 0;
  letter-spacing: 0.2rem;
}