@use "variables";

body {
  background-image: linear-gradient(to bottom right, variables.$deepBlue, variables.$lightBlue);
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 32px);
  background-attachment: fixed;
  margin: 0 8px;
  font-family: variables.$fontFamily;
  text-shadow: 1px 1px 2px black;
}

p {
  font-size: 1.25rem;
}

main {
  flex: 1;
}

h1 {
  font: {
    family: "Snowburst One", system-ui;
    weight: bold;
    size: 3rem;
  }

  text-align: center;
  margin: 1rem 0;
}

@media (max-width: 782px) {
  body {
    min-height: calc(100dvh - 46px);
  }
}