@use "variables";

.cloud {
  top: 400px;
  -webkit-animation: cloud 70s infinite linear;
  animation: cloud 70s infinite linear;

  &:before {
    left: 50px;
  }

  &:after {
    left: 25px;
    top: -10px;
  }

  &:before,
  &:after {
    content: '';
  }

  &,
  &:before,
  &:after {
    position: absolute;
    width: 70px;
    height: 30px;
    z-index: 1;
    background-color: white;

    border: {
      top: {
        left-radius: variables.$cloudRadius;
        right-radius: variables.$cloudRadius;
      }

      bottom: {
        left-radius: variables.$cloudRadius;
        right-radius: variables.$cloudRadius;
      }
    }

    -webkit-border: {
      top: {
        left-radius: variables.$cloudRadius;
        right-radius: variables.$cloudRadius;
      }

      bottom: {
        left-radius: variables.$cloudRadius;
        right-radius: variables.$cloudRadius;
      }
    }

    -moz-border: {
      top: {
        left-radius: variables.$cloudRadius;
        right-radius: variables.$cloudRadius;
      }

      bottom: {
        left-radius: variables.$cloudRadius;
        right-radius: variables.$cloudRadius;
      }
    }
  }
}

@-webkit-keyframes cloud {
  0% {
    left: -125px;
  }

  100% {
    left: 1600px;
  }
}

@-moz-keyframes cloud {
  0% {
    left: -125px;
  }

  100% {
    left: 1600px;
  }
}

@keyframes cloud {
  0% {
    left: -125px;
  }

  100% {
    left: 1600px;
  }
}