@font-face {
  font-family: "Wonderia";
  src: url("/css/fonts/Wonderia.woff2") format("woff2"),
    url("/css/fonts/Wonderia.woff") format("woff"),
    url("/css/fonts/Wonderia.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}