@use "variables";
@use "mixins";

form.wpcf7-form {
  background-color: variables.$darkBlue;
  padding: 1rem;
  color: white;
  border-radius: variables.$formRadius;
  -webkit-border-radius: variables.$formRadius;
  -moz-border-radius: variables.$formRadius;
  max-width: 50%;
  margin: auto;
  transition-duration: variables.$transitionDuration;
  z-index: 5;
  position: relative;
  opacity: 0.8;
  @include mixins.black-border(2px);

  &:hover {
    box-shadow: 3px 3px 6px rgb(64, 64, 64);
  }

  select {
    margin-left: 1rem;
  }

  input.wpcf7-submit {
    padding: 0.5rem;
    background-color: variables.$buttonColor;
    border: 0;
    border-radius: variables.$submitRadius;
    -webkit-border-radius: variables.$submitRadius;
    -moz-border-radius: variables.$submitRadius;
    cursor: pointer;
    text-shadow: 0.5px 0.5px 1px black;
    transition-duration: variables.$transitionDuration;
    font-size: 1.25rem;

    &:hover {
      background-color: white;
    }
  }

  select,
  input {
    font-family: variables.$fontFamily;
    font-size: 1rem;
  }

  p {
    margin: 0;

    &:not(:last-of-type) {
      display: grid;
      grid-template-columns: auto 1fr;

      label {
        padding-bottom: 1.5rem;
      }
    }

    &:last-of-type {
      text-align: center;
    }

    span {
      &.wpcf7-not-valid-tip {
        font-size: 1rem;
      }

      &.wpcf7-form-control-wrap {
        text-align: right;
      }

      &.wpcf7-spinner {
        position: fixed;
        left: variables.$spinnerMiddle;
        top: variables.$spinnerMiddle;
      }
    }
  }

  div.wpcf7-response-output {
    margin: {
      top: 1rem;
      bottom: 0;
    }

    text-align: center;
  }
}

@media (max-width: 782px) {
  form.wpcf7-form {
    max-width: 100%;
    padding: 0.75rem;

    .wpcf7-submit {
      font-size: 1rem !important;
    }
  }
}