@use "variables";
@use "mixins";

body:not(.home) {
  margin-bottom: 8px;
}

div#imageContainer {
  img {
    margin: auto;
    display: block;
    max-width: 100%;
    @include mixins.black-border(1px);
  }

  map area {
    cursor: pointer;
  }
}

div#tooltip {
  position: absolute;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  color: white;
  border-radius: variables.$tooltipRadius;
  -webkit-border-radius: variables.$tooltipRadius;
  -moz-border-radius: variables.$tooltipRadius;
  text-align: center;
  padding: 0.5rem;
  -webkit-transition: opacity variables.$transitionDuration;
  -moz-transition: opacity variables.$transitionDuration;
  transition: opacity variables.$transitionDuration;

  &.visible {
    opacity: 0.8;
  }
}