@use "variables";

div#imageContainer {
  img {
    margin: auto;
    display: block;
    max-width: 100%;
  }

  map area {
    cursor: pointer;
  }
}

div#tooltip {
  position: absolute;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  color: white;
  border-radius: 5px;
  text-align: center;

  transition: {
    property: opacity;
    duration: variables.$transitionDuration;
  }

  padding: 0.5rem;

  &.visible {
    opacity: 0.8;
  }
}