@media (max-width: 782px) {

  body,
  body.page-id-8 div#siteWrapper {
    min-height: calc(100dvh - 46px);
    margin: 0;
  }

  main {
    margin: 0 8px;
  }

  h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  p {
    font-size: 1rem;
  }

  nav {
    font-size: 1rem;
  }
}