@use "variables";

nav {
  background-color: variables.$darkBlue;
  margin: 0.5rem auto 0;
  padding: 0.5rem;
  border-radius: variables.$navRadius;
  -webkit-border-radius: variables.$navRadius;
  -moz-border-radius: variables.$navRadius;
  width: fit-content;
  cursor: default;
  z-index: 2;

  font: {
    family: "Snowburst One", system-ui;
    size: 1.5rem;
  }

  li {
    list-style-type: none;
    display: inline;
    font-weight: bold;

    a {
      transition-duration: variables.$transitionDuration;

      &:hover {
        color: rgb(208, 218, 255);
      }
    }
  }

  &,
  li a {
    color: white;
  }
}