$deepBlue: rgb(54, 153, 253);
$lightBlue: rgb(165, 231, 255);
$buttonColor: rgb(130, 226, 255);
$darkBlue: rgb(9, 60, 111);
$mountainTopWhite: #e6e6e6;
$fontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fontSize: 3rem;
$spinnerMiddle: calc(50% - 36px);
$transitionDuration: 0.3s;
$cloudRadius: 100px 50px;
$formRadius: 10px;
$submitRadius: 20px;
$tooltipRadius: 5px;
$navRadius: 9999px;